# django basic support
django>=1.10
# html5 table from database
django-tables2>=1.2.9
# excel support for xlsx file generation
django-excel>=0.0.6
pyexcel-xlsx>=0.3.0
pyexcel-xlsxw>=0.3.0
xlwt>=1.2.0
# rest
djangorestframework
# job scheduling with celery and redis
celery[redis]
# db backup with django-dbbackup
django-dbbackup
# gunicorn to run django app in the container
gunicorn
